.App {
  text-align: center;
}



.App-header,.App {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: 2px solid #000;
}

.App-link {
  color: #61dafb;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  
}
.inputs{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  width: 400px;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}